.Weather {
 background-image: url("https://static8.depositphotos.com/1573188/1037/i/450/depositphotos_10376451-free-stock-photo-stone-the-cloud-and-in.jpg");
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  padding: 16px;
  margin: 30px auto;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather canvas {
  margin-right: 6px;
  margin-top: 5px;
  height: 64px;
  width: 64px;
}
.Weather .temperature {
  color: rgb(255, 255, 255);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
  margin-left: 5px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #75819C;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #cdd1d6;
}